@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    /* border: 1px solid red; */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}


/* nav style css start here.......... */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
}

.menu-bar {
    display: flex;
}

.menu-bar li {
    list-style: none;
    margin-left: 10px;
}

.menu-bar li a {
    text-decoration: none;
    font-weight: 600;
    color: black;
    padding: 15px 10px;
}


/* nav style css end here.......... */

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 100px;
}

.header-left h1 {
    font-size: 46px;
}

.header-left p {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin: 20px 0;
}


/* common class style css..... */

.button {
    outline: 0;
    border: 0;
    padding: 15px 20px;
    color: #fff;
    font-size: 16px;
    border-radius: 41px;
    font-weight: 600;
    cursor: pointer;
    background-color: #E02C6D;
}

.icon-style {
    margin-left: 8px;
}


/* common class style css end..... */

.primary-button i {
    color: white;
}

.header-right {
    background-image: url('../images/image/Circle-design.svg');
    background-repeat: no-repeat;
    background-size: cover;
}


/* company menu style css style start here...... */

.company-menu {
    display: flex;
    height: 110px;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 90px;
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-image: linear-gradient(rgb(223 221 221), rgb(218, 211, 211));
    border-image-slice: 1;
}


/* company menu style css style end here...... */


/* products style css start here......... */

.products-titile {
    text-align: center;
    margin-top: 100px;
}

.products {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 30px;
}

.product {
    border-radius: 10px;
    box-shadow: 0 3px 30px rgb(0 0 0 / 20%);
}

.product-detail {
    margin: 20px;
}

.product-detail img {
    width: 100%;
    object-fit: cover;
}

.product-detail h3 {
    margin-top: 8px;
    font-weight: 600;
}

.product-detail p {
    color: #5E6366;
    font-size: 14px;
    font-weight: 800;
}

.rating-info {
    font-size: 12px;
    color: #FB8200
}

.rating-info span {
    display: inline-block;
    padding: 6px;
    /* margin-top: 8px; */
    font-size: 15px;
    font-weight: 600;
    color: #5E6366;
}

.see-more {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    align-items: center;
    gap: 8px;
}

.see-more a {
    text-decoration: none;
    color: #E02C6D;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.see-more i {
    color: #E02C6D;
}


/* products style css start here......... */


/* contact style css start here....... */

.contact-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 35px;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.contact-left {
    position: relative;
    margin: 10px;
    overflow: hidden;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-left:hover .photo {
    transform: scale(-1);
    transition: transform 2s ease-in-out;
}

.contact-right form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    font-family: inherit;
    outline: 0;
    border: 2px solid rgb(224, 220, 220);
    border-radius: 10px;
}


/* contact style css end here......... */


/* footer section style css start here.......... */

.footer-section {
    max-width: 100%;
    height: 200px;
    background-color: #0A0826;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-info {
    color: white;
    text-align: center;
}

.footer-info p {
    font-size: 14px;
    line-height: 24px;
}

.footer-info h2 {
    margin-bottom: 4px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 40px;
}

.icon {
    padding: 5px;
    border-radius: 50%;
    background-color: #3c3c3c9e;
}


/* footer section style css end here.......... */


/* animation css here........ */

.animation:hover {
    padding-left: 10px;
    border-radius: 20px;
    transform: scaleY(2);
    transition: transform 2s ease-in-out;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 1.5;
}

@keyframes example {
    0% {
        background-color: #EF5354;
    }
    75% {
        background-color: red
    }
    100% {
        background-color: #B4161B;
    }
}


/* animation css end here........ */

#toggler-nav {
    display: none;
}

.toggler-icon {
    display: none;
    font-size: 30px;
}


/* responsive css start here........ */


/* for mobile screen ........... */

@media screen and (max-width: 490px) {
    .menu-bar {
        display: none;
    }
    .header {
        grid-template-columns: repeat(1, 1fr);
    }
    .header-left {
        margin: 40px;
    }
}


/* for mobile screen ........... */

@media screen and (max-width: 626px) {
    .menu-bar {
        display: none;
    }
    .header,
    .products {
        grid-template-columns: repeat(1, 1fr);
    }
    .company-menu {
        flex-direction: column;
        height: 100vh;
    }
    .toggler-icon {
        display: block;
    }
}


/* this is for tablet device.... */

@media screen and (min-width: 627px) and (max-width: 780px) {
    .menu-bar li {
        margin-left: 0px;
    }
    .header-left h1 {
        font-size: 25px;
    }
    .header {
        gap: 0px;
    }
    .company-menu {
        flex-wrap: wrap;
    }
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* responsive css start here........ */